<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the vollection of products -->
        @for(product of products; track $index){
        <div class="product-box col-md-3">

          <a routerLink="/products/{{ product.id}}">
            <img src="{{product.imageUrl}}" class="img-responsive" />
          </a>

          <a routerLink="/products/{{ product.id}}">
            <h1>{{product.name}}</h1>
          </a>

          <div class="price">{{product.unitPrice | currency: 'EUR'}}</div>

          <a href="#" class="primary-btn">Add to cart</a>
        </div>
        }

        @if(products.length == 0){
          <div class="alert alert-warning col-md-12" role="alert">
            No products found.
          </div>
        }
      </div>
      <div class="footer-pagination">
        <ngb-pagination [(page)]="pageNumber"
                        [pageSize]="pageSize"
                        [collectionSize]="pageTotalElements"
                        (pageChange)="listProducts()">

        </ngb-pagination>
      </div>
    </div>
  </div>
</div>


